# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
  branches:
    include:
      - master

pool:
  vmImage: ubuntu-latest

variables:
  javaVersion: '21'

steps:
- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean package'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.21'
    mavenVersionOption: 'Default'
    publishJUnitResults: true

- task: AzureWebApp@1
  inputs:
    azureSubscription: 'azure-techblog-conn'
    appName: 'techblog-app-prod'
    package: '$(System.DefaultWorkingDirectory)/**/target/*.jar'
