trigger:
  branches:
    include:
      - master

variables:
  ACR_NAME: techblogacr
  IMAGE_NAME: techblog
  RESOURCE_GROUP: rg-techblog-prod
  CONTAINER_APP: techblog-app

stages:
- stage: BuildAndDeploy
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest

    steps:
    - checkout: self
    - task: AzureCLI@2
      inputs:
        azureSubscription: 'azure.techblog-conn'
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          az account show

    - task: Docker@2
      displayName: Build & Push Image
      inputs:
        containerRegistry: acr-techblog-conn
        repository: $(IMAGE_NAME)
        command: buildAndPush
        Dockerfile: Dockerfile
        tags: |
          $(Build.BuildId)

    - task: AzureCLI@2
      displayName: Deploy to Container App
      inputs:
        azureSubscription: azure.techblog-conn
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          az containerapp update \
            --name $(CONTAINER_APP) \
            --resource-group $(RESOURCE_GROUP) \
            --image $(ACR_NAME).azurecr.io/$(IMAGE_NAME):$(Build.BuildId)
